<partial name="../Modules/MainNavigation.cshtml"/>
<partial name="../Widgets/PageHeroBanner.cshtml"/>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
        <partial name="../Modules/LatestBlogPosts.cshtml"/>
          <partial name="../Modules/HighlightedPosts.cshtml"/>
        <partial name="../Modules/PostList.cshtml"/>
        <hr class="my-5"></hr>
        <partial name="../Modules/Subscribe.cshtml"/> 
    </div>
  </div>
</div> 
<partial name="../Modules/Footer.cshtml"/>
