@await Html.PartialAsync("../Modules/MainNavigation.cshtml")
@await Html.PartialAsync("../Widgets/PageHeroBanner.cshtml")

<div class="main main-raised">
  <div class="section section-basic">
      <div class="container">
          <partial name="../Modules/LatestBlogPosts.cshtml"/>
          <partial name="../Modules/HighlightedPosts.cshtml"/>
          <partial name="../Modules/PostList.cshtml"/>
          
          </div>
        </div>
      </div>
  </div>
</div>
@await Html.PartialAsync("../Modules/Footer.cshtml")
