<div class="section section-basic">
    
    <div class="container">
        @await Html.PartialAsync("../Modules/ProductHighlight.cshtml")
        @await Html.PartialAsync("../Modules/OurTeam.cshtml")
        <!-- @Html.Raw(Model.Content) -->
    </div>
</div>
