@{
  //MixModules.ReadMvcViewModel mdl = MixCmsHelper.GetModule("latest_blog_posts", ViewBag.culture);  
  var posts = await MixPosts.ReadMvcViewModel.Repository.GetModelListAsync(
        "CreatedDateTime",
        MixHeartEnums.DisplayDirection.Asc,3,0);

}
<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-center">Latest Blog Posts</h2>
          <br>
          <div class="row">
            <!-- @@foreach(var item in Model.Posts.Items.Take(4)){ -->
            @foreach(var item in posts.Data.Items){
            <div class="col-md-4">
              <div class="card card-blog">
                <div class="card-header card-header-image">
                  <a href="/post/@item.Id/@(item.SeoName).html">
                    <img class="img img-raised" src="@item.ImageUrl">
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="category text-info">@item.ListCategory.FirstOrDefault()</h6>  
                  <h4 class="card-title">
                    <a href="/post/@item.Id/@(item.SeoName).html">@item.Title</a> 
                  </h4>
                  <p class="card-description">
                    @(item.Excerpt.Length > 160 ? item.Excerpt.Substring(0,160) + "..." : item.Excerpt)
                    <a href="/post/@item.Id/@(item.SeoName).html"> Read More </a>
                  </p>
                </div>
              </div>
            </div>
            }
          </div>
          
        </div>
      </div>
    </div>
  </div>
