@{
  //MixModules.ReadMvcViewModel mdl = MixCmsHelper.GetModule("latest_blog_posts", ViewBag.culture);  
  var posts = await MixPosts.ReadMvcViewModel.Repository.GetModelListAsync(
        "CreatedDateTime",
        MixHeartEnums.DisplayDirection.Asc,3,0);

}

<!--     *********     BLOGS 3      *********      -->
<div class="blogs-3">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <h2 class="title">Previous Blogposts</h2>
        <br>
        @for(int i=0; i < posts.Data.Items.Count ; i++){
          <partial name="../Widgets/CardBlogItem.cshtml" model="posts.Data.Items[i]"/>
        }
      </div>
    </div>


<br/>
<br/>
<nav aria-label="Page navigation example my-5">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
    <li class="page-item active"><a class="page-link" href="javascript:;">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
    <li class="page-item">
      <a class="page-link" href="javascript:;">Next</a>
    </li>
  </ul>
</nav>
  </div>
</div>
