@{
  MixModules.ReadMvcViewModel postListMdl = MixCmsHelper.GetModule("post_list", ViewBag.culture);  
  //var posts = await MixPosts.ReadMvcViewModel.Repository.GetModelListAsync(
  //      "CreatedDateTime",
  //      MixHeartEnums.DisplayDirection.Asc,2,0);
  
//    // Get by paging
  int.TryParse(Context.Request.Query["page"], out int pIndex);

  if (pIndex == 0) pIndex = 1;
  if (postListMdl.PageSize == null) postListMdl.PageSize = 2;

  var pagingReq = new RequestPaging();
  var posts = await MixPosts.ReadMvcViewModel.Repository.GetModelListAsync(
        "CreatedDateTime",
        MixHeartEnums.DisplayDirection.Desc,
        postListMdl.PageSize,
        pIndex - 1);

}

<script>
    console.log('paging Model', @Json.Serialize(postListMdl))
</script>

<!--     *********     BLOGS 3      *********      -->
<div class="blogs-3">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <h2 class="title">Previous Blogposts</h2>
        <br>
        @for(int i=0; i < posts.Data.Items.Count ; i++){
          <partial name="../Widgets/CardBlogItem.cshtml" model="posts.Data.Items[i]"/>
        }
      </div>
    </div>


<br/>
<br/>
<partial name="../widgets/_Pagination.cshtml" model="posts.Data"/>
  </div>
</div>
