@{ 
   string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture); 
   string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
}
<div class="subscribe-line">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <h3 class="title">Get Tips &amp; Tricks every Week!</h3>
            <p class="description">
                Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
            </p>
            </div>
            <div class="col-md-6">
            <div class="card card-plain card-form-horizontal">
                <div class="card-body">
                <form id="subscribeForm">
                    <div class="row">
                    <div class="col-md-8">
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="material-icons">mail</i>
                            </span>
                        </div>
                        <input name="subscribedEmail" type="text" class="form-control" placeholder="Your Email...">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary btn-round btn-block">Subscribe</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<script>
// Attach a submit handler to the form
$( "#subscribeForm" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    email = $form.find( "input[name='subscribedEmail']" ).val(),

    url = "/api/v1/rest/@ViewBag.culture/attribute-set-data/client"; // https://api-docs.mixcore.org/api/Mix.Cms.Api.RestFul.Controllers.v1.ApiAttributeSetDataController.html
    
    data = JSON.stringify({ 
        "attributeSetName": "subscribe",
            "obj": {
                "id": null,
                "subscribed_email": email
            }    
    });

    $.ajax({
        'type': 'POST',
        'url': url,
        'contentType': 'application/json',
        'data': data,
        'dataType': 'json',
        // 'success': function() {
        //     //alert( "success!" );
        //     $('#subscribeModal .modal-body').html("Thanks for subscribing! We will keep you posted.");
        //     $('#subscribeModal').modal('show');
        // },
        statusCode: {
            200: function() {
                $('#subscribeModal .modal-body').html("Thanks for subscribing! We will keep you posted.");
                $('#subscribeModal').modal('show');
            },
            400: function() {
                $('#subscribeModal .modal-body').html("Submitted email is existed! Please resubmit with another email.");
                $('#subscribeModal').modal('show');
            }
        }
    });
 
});
</script>
