@{ 
   string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture); 
   string templateFolder = MixCmsHelper.GetTemplateFolder(ViewBag.culture);
}
<div class="subscribe-line">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
        <h3 class="title">Get Tips &amp; Tricks every Week!</h3>
        <p class="description">
            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
        </p>
        </div>
        <div class="col-md-6">
        <div class="card card-plain card-form-horizontal">
            <div class="card-body">
            <form method="" action="">
                <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="material-icons">mail</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Your Email...">
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-round btn-block">Subscribe</button>
                </div>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
